<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd 
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
http://www.springframework.org/schema/tx  
http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


	<context:component-scan base-package="com.shoppingcart" />
	<tx:annotation-driven transaction-manager="transactionManager" />

	<mvc:annotation-driven />
	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"></bean>
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"></bean>


	<!-- Bean for View Resolver -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- Bean for Data Source of Database -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/ShoppingCart"></property>
		<property name="username" value="root"></property>
		<property name="password" value="navaneeth"></property>
	</bean>

	<!-- <bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate"> <property 
		name="dataSource" ref="dataSource"></property> </bean> -->

	<!-- Bean for Session Factory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- <property name="modelClasses">
			<list>
				<value>com.shoppingcart</value>
			</list>
		</property> -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">false</prop>
			</props>
		</property>
	</bean>

	<!-- Bean for Hibernate Transaction -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Bean for CustomerDao Implementation -->
	<bean id="customerDao" class="com.shoppingcart.daoImpl" name="CustomerDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- Bean for LoginDao Implementation -->
	<bean id="loginDao" class="com.shoppingcart.daoImpl" name="LoginDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- Bean for CustomerService Implementation -->
	<bean id="customerService" class="com.shoppingcart.service.daoImpl" name="CustomerServiceImpl">
		<property name="customerDao" ref="customerDao"></property>
	</bean>

	<!-- Bean for LoginService Implementation -->
	<bean id="loginService" class="com.shoppingcart.daoImpl" name="LoginServiceImpl">
		<property name="loginDao" ref="loginDao"></property>
	</bean>
	
	<!-- Bean for Controller -->
	<bean id="customerController" class="com.shoppingcart.controller" name="LoginAndRegisterController">
		<property name="customerService" ref="customerService"></property>
		<property name="loginService" ref="loginService"></property>
	</bean>

</beans>